<div class="card-box">
  <div class="row m-b-10">
    <div class="col-md-12">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form', setup: @setup, azione: 'modifica' %>
	
    </div>
  </div>
  
</div>