<div class="main-content">
  <div class="main-content-inner">
    <div class="page-content">
      <div class="container-fluid">
	<div class="row">
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-info no-hover no-pointer no-radius">Categoria1</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-info no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-info no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-info no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-success no-hover no-pointer no-radius">Categoria2</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-success no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-success no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-success no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-purple no-hover no-pointer no-radius">Categoria3</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-purple no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-purple no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-purple no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-danger no-hover no-pointer no-radius">Categoria4</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-danger no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-danger no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-danger no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-pink no-hover no-pointer no-radius">Categoria5</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-pink no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-pink no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-pink no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-primary no-hover no-pointer no-radius">Categoria6</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-primary no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-primary no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-primary no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-default no-hover no-pointer no-radius">Categoria7</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-default no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-default no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-default no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  <div class="col-lg-1 col-md-2">
	  
	    <ul class="dd-list">
	      <li class="text-center">
		<div class="btn btn-app btn-warning no-hover no-pointer no-radius">Categoria8</div>
	      </li>

	      <li class="dd-item">
		<a class="btn btn-app btn-warning no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 1
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-warning no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 2
		</a>
	      </li>
	      <li class="dd-item">
		<a class="btn btn-app btn-warning no-radius btn-cruscotto" style="text-shadow:none" href='#'>
		  <i class="icon fa fa-envelope-o bigger-230"></i>
		  Bottone 3
		</a>
	      </li>
	    </ul>
	    
	  </div>
	  
	</div>
      </div>
    </div>
  </div>
</div>