<div class="main-content">
  <div class="main-content-inner">
    <div class="page-content">
      <div class="container-fluid">
		
		<div class="row">
		
			<% @hash_applicazioni_ente.each_pair do |area,array_di_applicazioni| %>
				<div class="col-lg-1 col-md-2">
		  
				    <ul class="dd-list">
				      	<li class="text-center">
							<div class="btn btn-app btn-info no-hover no-pointer no-radius"><%= area %></div>
				      	</li>
						<% array_di_applicazioni.each do |applicazione| %>
						    <li class="dd-item">
							    <a class="btn btn-app btn-info no-radius btn-cruscotto" style="text-shadow:none" href='<%= applicazione[:url] %>'>
							    <i class="icon fa fa-envelope-o bigger-230"></i><%= applicazione[:descrizione] %>
							    </a>
						    </li>
						<% end %>
				    </ul>
				    
				</div>
			<% end %>
		
      </div>
    </div>
  </div>
</div>