<p id="notice"><%= notice %></p>

<%= render 'form', user: @user, azione: 'vedi' %>
<!--
<%= link_to 'Modifica', edit_user_path(@user), {class: 'btn btn-default btn-sm no-radius btn-primary'} %> 
-->

