<div id="funzioni_superadmin" class="row">
    <div class="col-lg-12">
        <%= link_to "Lista Utenti", users_path %>
    </div>
    <div class="col-lg-12">
        <%= link_to "Utenti Da Confermare", utenti_da_confermare_path %>
    </div>
</div>
