<div id="funzioni_superadmin" class="row">
    <div class="col-lg-12">
        <%= link_to "Lista Utenti", users_path %>
    </div>
    <div class="col-lg-12">
        <%= link_to "Utenti Da Confermare", users_path(:stato => 'da_validare') %>
    </div>
</div>
