<% unless notice.blank? %><p id="notice"><div class="alert alert-info"><%= notice %></div></p><% end %>

<%= link_to 'Edit', edit_applicazioni_ente_path(@applicazioni_ente) %> |
<%= link_to 'Back', applicazioni_ente_index_path %>
